
.contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  min-height: 100vh;
}

.poste {
  width: 20px;
  height: 100px;
  background-color: #333;
  margin-bottom: 0;
}

.semaforo {
  background-color: #333;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

.luz {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.3;
  user-select: none;
  cursor:cell;
}

.luz:hover {
  opacity: 0.5;
  transform: scale(1.05);
}

.luz.roja {
  background-color: red;
}

.luz.amarilla {
  background-color: yellow;
}

.luz.verde {
  background-color: green;
}

.luz.brillar {
  opacity: 1 !important;
  box-shadow: 0 0 30px 10px currentColor;
  transform: scale(1.1);
}

