
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.barra-arriba {
  width: 25px;
  height: 180px;
  margin: 0% auto;
  background-color: black;
}
.caja-luces {
  width: 180px;
  margin: 0% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: black;
}
.caja-luces div {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 10px;
}
.circulo-rojo {
  background-color: red;

}
.circulo-amarillo {
  background-color: yellow;

}
.circulo-verde {
  background-color: green;
}
.luces-encedidas {
  box-shadow: 0px 0px 50px 20px rgb(222, 242, 196);
}